body {
    margin: 0;
    font-family: Arial;
}
.fon {
    position: fixed;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(rgba(0,0,0,0.81), rgba(0,0,0,0.95)),
        url("product_foto-registaishen.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrance_Block {
    width: 350px;
    padding: 30px;
    position: center;
    background: rgba(255,255,255,0.95);
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,2);
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgb(59, 116, 163,0,6);
    text-align: center;
    animation: fadeUp 0.8s ease;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.Button_home_1,
.Button_home_2,
.Button_home_3,
.Button_home_34,
.Button_home_4,
.Button_home_5 {
    position: fixed;
    top: 30px;
    background: none;
    color: white;
    animation: botton 0.8s ease;
    text-decoration: underline;
    text-underline-offset: 7px;
}
.Button_home_1 {
    left: 700px;
    width: 120px;
}
.Button_home_2 {
    left: 850px;
    width: 120px;
}
.Button_home_3 {
    left: 1000px;
    width: 120px;
}
.Button_home_34 {
    left: 1150px;
    width: 120px;
}
.Button_home_4 {
    left: 1350px;
    width: 180px;
}
.Button_home_5 {
    left: 1600px;
    width: 120px;
}
.Button_home_1:hover,
.Button_home_2:hover,
.Button_home_3:hover,
.Button_home_34:hover,
.Button_home_4:hover,
.Button_home_5:hover {
    color: #f3f0f0;
    text-decoration: none;
}
@keyframes botton{
    from{
        opacity: 0;
        transform: translateX(-90px);scale: (0,9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.title {
    margin-bottom: 20px;
    animation: fade 1s ease;
}
.input_nickname,
.input_password {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
    animation: fade 1s ease;
}
.input_nickname:focus,
.input_password:focus {
    border-color: #0d5da3;
    transform: scale(1.02);
}
button {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    animation: fade 1.2s ease;
}
.Button_entrance {
    background: #0d5da3;
    color: white;
}
.Button_entrance:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.Button_entrance:active {
    transform: scale(0.95);
}
.Button_password_forgot {
    background: #eee;
}
.Button_password_forgot:hover {
    background: #ddd;
}
.Button_Create_a_new_account {
    border: 2px solid #0d5da3;
    background: white;
    color: #0d5da3;
}
.Button_Create_a_new_account:hover {
    background: #0d5da3;
    color: white;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu{
    position: fixed;
    margin-bottom: 1255px;
    margin-left: 0px;
    width:100%;
    height: 70px;
    justify-content: center;
    background:linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0,0.5))
}