<!DOCTYPE html>
<html>
    <head>
       <title>Сайт</title>
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_back_div_css.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_Coursewor_cards.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_div_informaishen_block.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_fon-video.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_form_Block_main_informaishen.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_home_foto_form_exsit_css.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_home_page_css.css') }}">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/C_image-container-main.css') }}">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body> 
      <script src="{{ url_for('static', filename='js/Entrance.js') }}"></script>
      <script src="{{ url_for('static', filename='js/HomePage.js') }}"></script>
      <form id="informaishen_block_0__id" class="form_Block_main_informaishen">
        <div class="form_Block_main_informaishen_in">
          <div style="margin-top: 80px;margin-bottom: -95px;margin-left: 50px;"><img id="on_img" style="width: 300px;" src="{{ url_for('static', filename='img/logo.png') }}"></div>
          <label id="label_1_form_Block_main_informaishen" class="_a_1_form_Block_main_informaishen">И  нформация</label>
          <label id="label_2_form_Block_main_informaishen"  class="_a_2_form_Block_main_informaishen" href="hh.html">О компании</label>
          <label id="label_3_form_Block_main_informaishen"  class="_a_3_form_Block_main_informaishen"onclick="showModal('contact')" >Контакты</label>
          <label id="label_4_form_Block_main_informaishen"  class="label_nomber" onclick="whatsApp_https()"> 🕿+7-913-639-82-80</label>
          <button id="themeBtn" type="button" style="width: 80px;height:40px;background-color:rgb(0, 0, 0);color:#ffffff;border-radius: 20px;border:2px solid ;margin-left: 100px;" onclick="toggleStyle()">светлая тема</button>
          
        </div>
      </form>


    <div class="image-container-main">
      <div class="image-container">

        <img  class="image-container_img" src="{{ url_for('static', filename='img/electric.jpg') }}" alt="image">
        <div class="overlay_2"></div>

        <div class="on-foto-label-and-button">
          <b style="font-size: 52px;color: rgb(255, 255, 255);margin-left: 0px;font-family:Ubuntu Regular ;text-align: center;font-weight: bold;"><b>   Дипломы на заказ по Энергетике и Нефтяниками</b></b>
          <hr style="width: 60%;height: 3px;background-color: rgb(255, 174, 0);border: none; margin-left: 0px;">
          <label class="label_form_Block_main_2">С 2016 года мы выполняем дипломы для любого ВУЗа. За эти годы мы помогли тысячи студентам и приобрели огромный опыт в этом нелегком деле.Делаем работы для ОмГТУ ,ОмГУ, ОмГАУ, ОмГПУ и других ВУЗов по РОССИЕ.</label>
          <div style="margin-left: 0px;margin-top: 70px;"><button onclick=" a_js_entranse()" class="image-container_Button_Entrance">Вход</button></div>
          <div style="margin-left: 150px;margin-top: -60px;"><button class="image-container_Button">Регистрация</button></div>
        </div>

      </div>
    </div>
    
    <div id="informaishen_block_id" class="div_informaishen_block" style="width: 100%;">

      <script>
      function applyTheme(theme) {
        const l = document.getElementById("l");
        const l_2 = document.getElementById("l_2");
        const l_3 = document.getElementById("l_3");

        const img_on = document.getElementById("on_img");
        const box0 = document.getElementById("informaishen_block_0__id");
        const box = document.getElementById("informaishen_block_id");
        const box2 = document.getElementById("informaishen_pai_block_id");
        const label = document.getElementById("informaishen_pai_block_id_label");
        const button = document.getElementById("themeBtn");
        const box3 = document.getElementById("informaishen_block_2_id");
        const box4 = document.getElementById("informaishen_block_3_id");
        const Label_div_0_1 = document.getElementById("label_1_form_Block_main_informaishen");
        const Label_div_0_2 = document.getElementById("label_2_form_Block_main_informaishen");
        const Label_div_0_3 = document.getElementById("label_3_form_Block_main_informaishen");
        const Label_div_0_4 = document.getElementById("label_4_form_Block_main_informaishen");
      
        if (theme === "dark") {
          l.style.background ="";
          l_2.style.background ="";
          l_3.style.background ="";
          img_on.src= "{{ url_for('static', filename='img/logo2.png') }}";
          Label_div_0_1.style.color= "black";
          Label_div_0_2.style.color= "black";
          Label_div_0_3.style.color= "black";
          Label_div_0_4.style.color= "black";
          box0.style.background ="rgb(255, 255, 255,0.95)";
          box.style.background = "#161715";
          box2.style.background = "white";
          box3.style.background = "#161715";
          box4.style.background = "White";
          label.style.color = "Black";
          button.innerText = "светлая тема";
          

          button.style.background ="rgba(23, 24, 22,0)";
          button.style.color="black";
          button.style.borderColor="black";
        } else {
          l.style.background ="black";
          l_2.style.background ="black";
          l_3.style.background ="black";
          img_on.src= "{{ url_for('static', filename='img/ChatGPT Image 26 апр. 2026 г., 15_34_48.png') }}";
          Label_div_0_1.style.color= "white";
          Label_div_0_2.style.color= "white";
          Label_div_0_3.style.color= "white";
          Label_div_0_4.style.color= "white";
          box0.style.background ="rgba(23, 24, 22, 0.99)";
          box.style.background = "white";
          box2.style.background = "#dce1e6";
          box3.style.background = "white";
          box4.style.background = "#dce1e6";
          label.style.color = "black";
          button.innerText = "тёмная тема";
          button.style.background ="rgba(23, 24, 22,0)";
          button.style.color="white";
          button.style.borderColor="white";
          
        }
      }
      function toggleStyle() {
        let currentTheme = localStorage.getItem("theme");
      
        if (currentTheme === "dark") {
          localStorage.setItem("theme", "light");
          applyTheme("light");
        } else {
          localStorage.setItem("theme", "dark");
          applyTheme("dark");
        }
      }
      window.onload = function () {
        let savedTheme = localStorage.getItem("theme") || "dark";
        applyTheme(savedTheme);
      };
      </script>

      <div class="wrapper">
       <div style="display: grid;grid-template-columns: repeat(3,1fr);gap:40px">
        <div id="l" class="div_cards_1_diploma" style="width: 300px;height: 500px;">
          <div class="div_cards_1_diploma_img"><img style="width: 294px;" src="{{ url_for('static', filename='img/diplom.png') }}"></div>
            <div style="width: 100%;padding-top: 20px;text-align: center;"><b>Дипломная работа</b></div>
            <div  style="width:100%;padding-top: 40px;text-align: center;"><label>Серьёзный итог обучения, оформленный по всем требованиям.</label></div>
            <div class="div_cards_1_diploma_button_prais">
               <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 20px;margin-top: 75px;">
                 <label class="div_cards_2_curs-work_button_prais_label">30.099₽</label>
                 <button class="div_card_button_prais_button" onclick="num_use_services_page_href()">заказать</button>
                </div>
            </div>
          </div>
        <div id="l_2" class="div_cards_2_curs-work" style="width: 300px;height: 500px;">
          <div class="div_cards_2_curs-work_img"><img style="width: 294px;" src="{{ url_for('static', filename='img/kursovia.png') }}"></div>
            <div style="width: 100%;padding-top: 20px;text-align: center;"><b>Курсовая работа</b></div>
            <div  style="width:100%;padding-top: 40px;text-align: center;"><label>Практическая работа для закрепления знаний по предмету.</label></div>
            <div class="div_cards_2_curs-work_button_prais">
              <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 20px;margin-top:75px;">
                <label class="div_cards_2_curs-work_button_prais_label">7.099₽</label>
                <button class="div_card_button_prais_button">заказать</button>
              </div>
            </div>
          </div>
        <div id="l_3" class="div_cards_3_reherat" style="width: 300px;height: 500px;">
          <div class="div_cards_3_reherat_img"><img style="width: 294px;" src="{{ url_for('static', filename='img/referat.png') }}"></div>
            <div style="width: 100%;padding-top: 20px;text-align: center;"><b>реферат</b></div>
            <div style="width:100%;padding-top: 40px;text-align: center;"><label>Краткое и чёткое раскрытие темы без лишней воды.</label></div>
            <div class="div_cards_3_reherat_button_prais">
              <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 20px;margin-top: 100px;">
                <label class="div_cards_3_reherat_button_prais_label">3.099₽</label>
                <button class="div_card_button_prais_button">заказать</button>
              </div>
            </div>
          </div>
       </div>
       <div style="margin-top: 600px;margin-left: -120px;"><dutton style="cursor:pointer;padding: 10px 20px;height:50px;background-color: #d4840d; border-radius: 20px;border:none;font-size: 20px; font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';">Все услуги</dutton></div>
    </div>

    <div id="informaishen_pai_block_id" style="width: 100%;
      height: 620px;
      position:relative;
      background-color: #ffffff;
      text-align: center;
      justify-content: center;
      align-items: center;
      z-index: -1000;">
      <div style=" width: 1000px;
        margin: auto;
        padding-top: 130px;">
        <b id="informaishen_pai_block_id_label" style="text-align: center;font-size: 60px; font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';">Как оформляется заказ?</b>
        <div style="margin:0 auto; padding-top: 60px;">
          <img style="width: 940px;height: 70px;" src="{{ url_for('static', filename='img/progress.png') }}">
          <div style="width: 100%;display:grid;grid-template-columns: repeat(4,1fr);gap: 70px;margin-left: 40px;">
            <div style="width: 200px;font-size: 23px;text-align: left;">Оформите заказ на нашем сайте</div>
            <div style="width: 200px;font-size: 23px;text-align: left;">Оформляем заказ и согласовываем все нюансы</div>
            <div style="width: 200px;font-size: 23px;text-align: left;">Приступаем к выполнению вашей работы</div>
            <div style="width: 200px;font-size: 23px;text-align: left;">Вы получаете полностью готовую работу</div>\
          </div>
          <hr style="width: 60%;height: 3px;background-color: rgb(0, 0, 0);border: none; margin:auto">
                 
        </div>
      </div>
    </div>
    <div id="informaishen_block_2_id" style="width: 100%;height: 800px;background-color: #161715;position: relative;z-index: 1000;">
      <div style="justify-content: center;display: grid;grid-template-columns: repeat(3,900px);gap: 20px;padding-top: 100px;margin: auto;">

          <div class="div_blok_informaishen_1">
              <div style="width: 100%;color:rgb(255, 255, 255);font-size:40px;font-family: Andale Mono, monospace;padding-left: 90px;padding-top: 5px;font-size: 33px;"><label>Услуги:</label></div>
                <hr style="width: 80%;height: 3px;background-color: rgb(255, 255, 255);border: none;">
              <div class="div_in_li_list">
                <br>
                 <ul>
                   <li>Дипломные работы</li>
                   <br>
                   <li>Курсовые работы</li>
                   <br>
                   <li>Рефераты</li>
                   <br>
                   <li>Отчёты по практике</li>
                   <br>
                   <li>и тд</li>
                 </ul>
                 <div style="width: 100%;"><button class="div_in_li_list_Button">Подробнее</button></div>
              </div>
            
          </div> 
          <div class="div_blok_informaishen_2">
            <div style="width: 100%;color:rgb(255, 255, 255);font-size:40px;font-family: Andale Mono, monospace;padding-left: 90px;padding-top: 5px;font-size: 33px;"><label>О компании:</label></div>
              <hr style="width: 80%;height: 3px;background-color: rgb(255, 255, 255);border: none;">
              <div class="div_in_li_list">
                <br>
                <ul>
                  <li>Работаем с 2014 года</li>
                  <br>
                  <li>Более 300 довольных клиентов</li>
                  <br>
                  <li>Срок выполнения от 1 дня</li>
                  <br>
                  <li>Поддержка 24/7</li>
                  <br>
                  <li>Более 5 лет опыта</li>
                </ul>
                <div style="width: 100%;"><button class="div_in_li_list_Button">Подробнее</button></div>
              </div>
            </div>
            <div class="div_blok_informaishen_3">
              <div style="width: 100%;color:rgb(255, 255, 255);font-size:40px;font-family: Andale Mono, monospace;padding-left: 90px;padding-top: 5px;font-size: 33px;"><label>Почему мы?</label></div>
              <hr style="width: 80%;height: 3px;background-color: rgb(255, 255, 255);border: none;">
              <div class="div_in_li_list">
                <br>
                 <ul>
                   <li>✔ Высокая уникальность</li>
                   <br>
                   <li>✔ Без плагиата</li>
                   <br>
                   <li>✔ Гарантия результата</li>
                   <br>
                   <li>✔ Конфиденциальность</li>
                 </ul>
                 <div style="width: 100%;"></div><button class="div_in_li_list_Button_2">Подробнее</button></div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div id="informaishen_block_3_id"  class="div_fon_Black">
      <div style="display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;">
        
          <div class="div_label_Blok_foto">
            <img src="{{ url_for('static', filename='img/lozung.png') }}">
          </div>
          <div style="width: 600px;font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';position: relative;z-index: 30;margin-left: -700px;margin-top: 50px;">
             <b style="font-size: 40px ;">Наша компания:</b><br><br>
             <label style="font-size: 20px ;color: #201f1f;">Мы помогаем студентам уверенно двигаться к успешной защите.С нами сложные задачи становятся понятнее, а дедлайны — не такими страшными.</label>
            </div>
          <div class="fon_video">
            
              <video id="html-video-2050607291-1773898998865" playsinline="" autoplay="" loop="" style="width: 300PX;border-radius: 15PX;padding-top: 30px;  height: 250PX; object-fit: cover;margin: auto;position: c absolute; display: block;" data-video-initialized="true" preload="auto" autoplay loop muted><source src="https://c8620e7c-f0a8-4f02-907c-774279d78553.selstorage.ru/SVOYO%20mem1_1.mp4" type="video/mp4"></video>
              <div class="label_1_div">
                <b class="label_1">Хочется быстро закрыть диплом — и без лишнего стресса?</b>
              </div>
              <div class="label_2_div">
               <label class="label_2">-Только дипломы, которые соответствуют теме и требованиям</label>
              </div>
              <div class="div_img_mem">
                <img class="tn-atom__img t-img loaded" data-original="https://static.tildacdn.com/tild6235-3836-4631-a632-323633353030/c10219d2-a6f4-4109-8.png" src="https://optim.tildacdn.com/tild6235-3836-4631-a632-323633353030/-/contain/222x225/center/center/-/format/webp/c10219d2-a6f4-4109-8.png.webp" alt="" imgfield="tn_img_1773898164984000023">
              </div>
          </div>
          <div class="div_label_Blok_1">
            <img class="div_label_Blok_1_img" src="{{ url_for('static', filename='img/alert.png') }}">
            <div class="in_div_label_Blok_1"><b>Поможем разобраться, оформить и довести до идеала</b>
              <hr class="div_label_Blok_1_hr">
            </div>
          </div> 
          <div class="div_label_Blok_2">
            <div class="in_div_label_Blok_2">
              <img style="width:60px ;padding: 10px 10px;" src="{{ url_for('static', filename='img/!.png') }}">
                <div style="width: 90%;margin-top: 20px;margin-left: 30px;"><b style="font-family:Andale Mono, monospace;font-size: 25px;margin-left: 38px;padding-top: 30px;">✔Уникальность текста 90–100%</b></div>  
                <div style="width: 90%;margin-top: 10px;margin-left: 30px;"><b style="font-family:Andale Mono, monospace;font-size: 25px;margin-left: 38px;padding-top: 30px;text-align: left;">✔ сопровождение до защиты</b></div><br>
                <hr style="width: 50%;height: 2px;background-color: rgb(255, 124, 2);border: none;margin-top: 10px;">
            </div>
          </div>
      </div>
    </div>

       <div class="back">
        <div style="display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;">
            <div class="Back_on">
              <b class="Back_on_label_1">КОНТАКТЫ</b><br>
              <label class="Back_on_label_2">Работаем круглосуточно каждый день</label>
            </div>
            <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 400px;">
              <hr class="back_hr_1">
              <hr class="back_hr_1">
            </div>
            <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 600px;margin-left: 20px;">
              <b style="font-size: 30px;color: #ffffff;font-family: system-ui, sans-serif;">+7-913-639-82-80</b>
              <b style="font-size:30px;color: #ffffff;font-family: system-ui, sans-serif;">Valera@mail.ru</b>
            </div>
            
            <div style="display: grid;grid-template-columns: repeat(1,5fr);gap:20px;margin-left: -700px;margin-top: -20px;">
                  <div>
                    <img class="L_1" src="https://avatars.mds.yandex.net/get-ott/13074011/41dbcc65-4fc8-414c-be89-078730b03eba/orig" alt="https://vk.com/kinopoisk" loading="lazy" data-tid="9107e4a2">
                    <label style="color:white;font-family:'Raleway', 'Helvetica', 'Arial', 'sans-serif';padding-left: 10px;font-size: 25px  ;" >Valera@mail.ru</label>
                  </div>
                  <div>
                    <img class="L_2" src="https://avatars.mds.yandex.net/get-ott/12808873/3c38af49-a89d-48e8-9bb0-daa23c5a617b/orig" alt="https://t.me/+4caqT58ijeAwNmM6" loading="lazy" data-tid="9107e4a2" href="">
                    <label style="color:white;font-family:'Raleway', 'Helvetica', 'Arial', 'sans-serif';padding-left: 10px;font-size: 25px">Valera@mail.ru</label>
                  </div>
                  <div>
                    <img class="L_3" src="https://avatars.mds.yandex.net/get-ott/224348/ffbb47a4-9c24-42ab-b53c-3bfc29f3e56d/orig" alt="https://www.youtube.com/@kinopoisk" loading="lazy" data-tid="9107e4a2">
                    <label style="color:white;font-family:'Raleway', 'Helvetica', 'Arial', 'sans-serif';padding-left: 10px;font-size: 25px ;">Valera@mail.ru</label>
                  </div>
                  <div>
                    <img class="L_4" src="https://avatars.mds.yandex.net/get-ott/13074011/5d4cc502-9456-4dbb-9993-292f8a0eefa1/orig" alt="https://www.tiktok.com/@kz.kinopoisk" loading="lazy" data-tid="9107e4a2">
                    <label style="color:white;font-family:'Raleway', 'Helvetica', 'Arial', 'sans-serif';padding-left: 10px;font-size: 25px ;">Valera@mail.ru</label>
                  </div> 
                  <div>
                    <img class="L_5" src="https://avatars.mds.yandex.net/get-ott/1648503/02e16ea0-82a7-49dc-ba84-81d6d07d2c3a/orig" alt="https://www.instagram.com/kinopoisk.kz/" loading="lazy" data-tid="9107e4a2">
                    <label style="color:white;font-family:'Raleway', 'Helvetica', 'Arial', 'sans-serif';padding-left: 10px;font-size: 25px ;">Valera@mail.ru</label>
                  </div>
            </div>
            

              <div class="map">
                <iframe 
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d634.8686724156994!2d73.31300081624617!3d55.037998700266925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43ab001a211f97f5%3A0x5f43d6d0b24354!2z0YPQuy4g0JfQsNC-0LfQtdGA0L3QsNGPLCAyNywg0J7QvNGB0LosINCe0LzRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDY0NDA5MA!5e0!3m2!1sru!2skz!4v1777109919393!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">   
                  </iframe>
                  width="100%" 
                  height="300" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy">
                </iframe>
              </div>
            <div style="display: grid;grid-template-columns: repeat(2,1fr);gap: 300px;margin-left: 20px;margin-top: 50px;">
              <img class="Googel_store" src="https://avatars.mds.yandex.net/get-bunker/128809/4a0c0e5dfc0393df6d57bc9835c61669a8d5a0cd/svg" alt="Загрузить приложение" loading="lazy">
              <img class="App_store" src="https://avatars.mds.yandex.net/get-bunker/128809/12b96dbf545bbbdec363f558998f5d21930ecad7/svg" alt="Загрузить приложение" loading="lazy">
            </div>
        </div>
      </div>

    </body>
</html>