<html>
    <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/C_question_page.css') }}">
    </head>
    <body>
       <div class="back-fon">
         <div class="grid">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input pe="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             <input type="button" value="Вопрос?">
             
             
         </div>
         <div class="fon_video">
               <video id="html-video-2050607291-1773898998865" playsinline="" autoplay="" loop="" style="width: 300PX;border-radius: 15PX;padding-top: 30px;  height: 250PX; object-fit: cover;margin: auto;position: c absolute; display: block;" data-video-initialized="true" preload="auto" autoplay loop muted><source src="https://c8620e7c-f0a8-4f02-907c-774279d78553.selstorage.ru/SVOYO%20mem1_1.mp4" type="video/mp4"></video>
               <div class="label_1_div">
                 <b class="label_1">Хочется быстро закрыть диплом — и без лишнего стресса?</b>
               </div>
               <div class="label_2_div">
               <label class="label_2">-Только дипломы, которые соответствуют теме и требованиям</label>
               </div>
               <div class="div_img_mem">
                 <img class="tn-atom__img t-img loaded" data-original="https://static.tildacdn.com/tild6235-3836-4631-a632-323633353030/c10219d2-a6f4-4109-8.png" src="https://optim.tildacdn.com/tild6235-3836-4631-a632-323633353030/-/contain/222x225/center/center/-/format/webp/c10219d2-a6f4-4109-8.png.webp" alt="" imgfield="tn_img_1773898164984000023">
               </div>
            </div>
       </div>
    </body>
</html>